html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 4px;
}

:root {
  /* subtle color palette */
  --white-1a: hsla(0, 0%, 60%, 0.25);
  /* basic color palette */
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 90%);
  --black-1: hsl(0, 11%, 89%);
  --blue-1: hsl(200, 50%, 50%);
  --green-1: hsl(100, 50%, 50%);
  --green-2: hsl(100, 50%, 60%);
  /* fonts */
  --ft-fy-fallback-1: sans-serif;
  --ft-fy-1: "Poppins", var(--ft-fy-fallback-1);
  --ft-se-100: 0.85rem;
  --ft-se-200: 0.93rem;
  --ft-se-400: 1rem;
  --ft-se-600: 2rem;
  --ft-wt-500: 500;
  /* spaces */
  --space-400: 2em;
}

/* components */
.flexContainer {
  display: flex;
  gap: 10px;
}
.page {
  color: var(--black-1);
  padding: var(--space-400);
  display: grid;
  min-height: 100vh;
  grid-template-areas: "main";
  background-color: var(--white-1);
  font-size: var(--ft-se-400);
  font-family: var(--ft-fy-1);
}
.page__main {
  display: grid;
  grid-area: main;
  place-items: center;
}
.page__register-form {
  width: calc(100% - var(--space-400));
  max-width: 500px;
}

.register-form {
  /* for all children */
  --pg: 1em;
  /* __title */
  --__title_ft-se: var(--ft-se-600);
  /* __desc */
  --__desc_ft-se: var(--ft-se-200);
  --__desc_mn-bk: 0.5em;
  /* __input */
  --__input_bd-cr: var(--white-1);
  --__input_pg: 0.8em;
  /* __link */
  --__link_cr: var(--blue-1);
  /* __label */
  --__label_ft-wt: var(--ft-wt-500);
  /* __body */
  --__body_gap: 0.8em;
  border: 1px solid var(--white-1a);
  background-color: var(--white-2);
}
.register-form__header {
  display: flex;
  gap: var(--pg);
  padding: var(--pg);
  flex-direction: column;
}
.register-form__title {
  font-size: var(--__title_ft-se);
}
.register-form__desc {
  margin-block: var(--__desc_mn-bk);
  font-size: var(--__desc_ft-se);
}
.register-form__desc_ft-se_small {
  font-size: var(--ft-se-100);
}
.register-form__hr {
  border: 1px solid var(--white-1a);
}
.register-form__body {
  padding: var(--pg);
  gap: var(--__body_gap);
  display: flex;
  flex-direction: column;
}
.register-form__linput-box {
  display: flex;
  flex-direction: column;
}
.register-form__label {
  font-weight: var(--__label_ft-wt);
  margin-bottom: 10px;
}
.register-form__input {
  outline: none;
  border: none;
  padding: var(--__input_pg);
  border: 2px solid var(--white-1);
  border-radius: 6px;
  background-color: var(--__input_bd-cr);
  color: black;
}
.register-form__input:focus {
  border-color: var(--green-1);
  background-color: var(--black-1a);
}
.register-form__link {
  color: var(--__link_cr);
}
.register-form__footer {
  padding: var(--pg);
  text-align: center;
  background-color: var(--white-1a);
}

.primary-button {
  --cr: var(--black-1);
  --bd-cr: var(--white-1);
  color: var(--cr);
  padding: 0.8em 1.2em;
  border: none;
  cursor: pointer;
  background-color: var(--bd-cr);
}
.primary-button_green {
  --cr: var(--white-1);
  --bd-cr: var(--green-1);
}
.primary-button_green:hover {
  --bd-cr: var(--green-2);
}

@media (max-width: 500px) {
  :root {
    font-size: 0.9rem;
  }

  .register-form__desc {
    text-align: center;
  }
}
button {
  cursor: pointer;
}



* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background: url(https://subtlepatterns.com/patterns/sativa.png) repeat fixed;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}
.login {
  position: relative;
  top: 50%;
  width: 250px;
  display: table;
  margin: -150px auto 0 auto;
  background: #fff;
  border-radius: 4px;
}
.legend {
  position: relative;
  width: 100%;
  display: block;
  background: #ff7052;
  padding: 15px;
  color: #fff;
  font-size: 20px;
}
.legend:after {
  content: "";
  background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 152px -16px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.input {
  position: relative;
  width: 90%;
  margin: 15px auto;
}
.input span {
  position: absolute;
  display: block;
  color: #d4d4d4;
  left: 10px;
  top: 8px;
  font-size: 20px;
}
.input input {
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #ededed;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: #a1a1a1;
}
.input input:focus {
  padding: 10px 5px 10px 10px;
  outline: 0;
  border-color: #ff7052;
}
.submit {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #ff7052;
  color: #ff7052;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
}
.submit:hover,
.submit:focus {
  background: #ff7052;
  color: #fff;
  outline: 0;
}
.feedback {
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #2ecc71;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0;
}
.feedback:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(46, 204, 113, 0);
  border-bottom-color: #2ecc71;
  border-width: 10px;
  margin-left: -10px;
}
